html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: sans-serif;
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: aqua;
}

header {
    padding: 1em;
    background-color: coral;
    margin: 0;
}

.topnav {
    overflow: hidden;
    padding: 0;
}

.topnav ul {
    display: flex;
    flex-direction: row;
}

.topnav li {
    list-style: none;
    text-decoration: none;
    padding: 0.2em;
}

.topnav a {
    list-style: none;
    text-decoration: none;
    padding: 0.2em;
    background-color: aliceblue;
    font-size: 2em;
}

.topnav li {
    list-style: none;
}

.topnav li:hover {
    background-color: midnightblue;
    color: black;
}

.topnav .icon {
    display: none;
    
}



header h1 {
    text-align: center;
    font-size: 4em;
    font-family: monospace;
}

main {
    display: flex;
    padding: 3em 0 3em 3em;
    margin: 4em;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: darkviolet;
}

.fila {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: cornflowerblue;
}

.columna {
    flex-grow: 1;
    flex-wrap: wrap;
    width: 40em;
}

@media screen and (max-width: 76.8em) {

    .fila {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 76.8em) {

    .topnav li:not(:first-child) {
        display: none;
    }

    .topnav li.icon {
        display: flex;
    }
}

@media screen and (max-width: 76.8em) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive li {
        float: none;
        display: flex;
    }
}


@media screen and (max-width: 99.2em) {

    .fila {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .columna:nth-of-type(3) {
        flex-grow: 2;
    }
}

article {
    margin: 1.5em;
    border: 0.1em solid black;
    background-color: burlywood;
    padding: 1em;
}

h2 {
    text-align: center;
    border: 0.1em solid black;
    width: 30%;
    background-color: darkviolet;
    color: wheat;
    margin-left: 70%;
    margin-top: 0;
}

p {
    padding: 0.4em;
    font-size: 1.6em;
}
