html {
    height: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: sans-serif;
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: aqua;


}

header {
    padding: 1em;
    background-color: coral;
    border-radius: 10em;
    margin: 0;
    width: auto;
}


header h1 {
    text-align: center;
    font-size: 4em;
    font-family: monospace;

}

main {
    padding: 3em 0 3em 5em;
    margin: 4em;


}

.columna {
    float: left;
    width: 30%;
    box-sizing: border-box;

}

.fila {
    content: "";
    display: table;
    clear: both;
    box-sizing: inherit;
}



article {
    margin: 1.5em;
    border: 0.1em solid black;

    background-color: burlywood;
    padding: 1em;
}

h2 {
    text-align: center;
    border: 0.1em solid black;
    width: 30%;
    background-color: darkviolet;
    color: wheat;
    margin-left: 70%;
    margin-top: 0;
}

p {
    padding: 0.4em;
    font-size: 1.6em;
}

@media screen and (max-with:70.8em) {
    .columna {

        width: 100%;

    }
}

footer {
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: darkviolet;
}
