body {
    margin: 0;
    padding: 0;
    font-family: arial;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    position: relative
        
}

li a:hover{
    background-color: skyblue;
}

a {
    display: block;
    padding: 8px;
    background-color: black;
    color: coral;
    text-decoration: none;
    font-family: monospace;
    border-top-left-radius: 100px;
    
}

#articulos {
    position: relative;
    left: 5px;
}

#sobremi {
    position: relative;
    left: 10px;
}